<div ng-app="app">
  <div ng-controller="beerCtrl" ng-init="setup()">
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </table>
    <tr ng-repeat="beer in beers">
      <td>{{beer.name}}</td>
      <td>{{beer.price}}</td>
    </tr>
  </div>
</div>